body {
    background-color: #161A1D;
    cursor: url('./img/cursor.png'), auto;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h1 {
    font-family: 'Alata';
    font-weight: 400;
    font-size: 100px;
}

.left_links {
    height: 300px;
    width: 50px;
    position: fixed;
    bottom: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.border_left {
    height: 200px;
    border-left: 10px solid #660708;
}

/* -------------- HEADER -------------- */

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: #660708;
    transition: 0.2s;
    border-bottom: 3px solid #660708;
    /* cursor: url('./img/pointer.png'), auto; */
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

header li {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}

header .logo {
    font-family: 'Electrolize';
    font-weight: 400;
    font-size: 60px;
    border-bottom: 3px solid #660708;
}

/* -------------- MAIN -------------- */

/* -------------- WELCOME PAGE -------------- */

.welcome {
    width: 100%;
    height: 865px;
}

.welcome_container {
    background: url(./img/welcome_bg.jpg) no-repeat;
    mix-blend-mode: lighten;
    background-position: 100%;
    height: 100%;
    background-size: 600px;
    overflow: hidden;
}

.catrix {
    width: 1030px;
    height: 640px;
    left: 182px;
    top: 200px;
    position: absolute;
    filter: blur(2px);
    z-index: -1 ;
}

.window {
    width: 1160px;
    height: 764px;
    margin-left: 230px;
    margin-top: 220px;
}

.webgenius {
    position: absolute;
    /* width: 1160px;
    height: 764px; */
    left: 128px;
    top: 136px;
}

.title {
    font-family: 'Alata';
    font-weight: 400;
    font-size: 100px;
    color: white;
}

.title p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 40px;
    line-height: 200px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
}

/* ABOUT */

.about {
    text-align: center;
}

.about img {
    mix-blend-mode: lighten;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about p {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}