html {
    scroll-behavior: smooth;
}

body {
    background-color: #161A1D;
    cursor: url('./img/cursor.png'), auto;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h1 {
    font-family: 'Alata';
    font-weight: 400;
    font-size: 85px;
}

.left_links {
    height: 300px;
    width: 50px;
    position: fixed;
    bottom: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.border_left {
    height: 200px;
    border-left: 10px solid #660708;
}

/* -------------- HEADER -------------- */

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: #660708;
    transition: 0.2s;
    /* cursor: url('./img/pointer.png'), auto; */
}

header a:hover:not(.logo_a) {
    border-bottom: 4px solid #660708;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

header li {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}

header .logo {
    font-family: 'Electrolize';
    font-weight: 400;
    font-size: 60px;
    border-bottom: 4px solid #660708;
}


/* -------------- MAIN -------------- */

/* -------------- WELCOME PAGE -------------- */

.welcome {
    width: 100%;
    height: 865px;
}

.welcome_container {
    background: url(./img/welcome_bg.jpg) no-repeat;
    mix-blend-mode: lighten;
    background-position: 100%;
    height: 100%;
    background-size: 600px;
    overflow: hidden;
}

.catrix {
    width: 731px;
    height: 439px;
    left: 12%;
    top: 26%;
    position: absolute;
    filter: blur(2px);
    z-index: -1;
}

.window {
    height: 785px;
    margin-left: 14%;
    margin-top: 11%;
}

.webgenius {
    position: absolute;
    left: 10%;
    top: 20%;
}

.title {
    font-family: 'Alata';
    font-weight: 400;
    font-size: 80px;
    color: white;
    position: absolute;
    left: 16%;
    top: 32%;
}

.title p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 135px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
}

/* -------------- ABOUT -------------- */

.about h2 {
    border-bottom: 5px solid #660708;
    text-align: center;
    margin: 0 auto;
    width: 270px;
    padding-top: 15px;
}

.container {
    padding-top: 50px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.about img {
    mix-blend-mode: lighten;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about p {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
}


/* -------------- SKILLS -------------- */

.skills h2 {
    border-bottom: 5px solid #660708;
    text-align: center;
    margin: 0 auto;
    width: 250px;
    padding-top: 15px;
}

.skills {
    color: white;
}

.skills .col {
    padding-bottom: 35px;
}

.bbot {
    border-bottom: 5px solid #660708;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.skills h3 {
    padding-bottom: 10px;
    font-size: 50px;
    padding-left: 15%;
}

.skills img {
    padding-bottom: 10px;
}